<div class="row">
  <div class="col"></div>
  <div class="col-md-7">
    <h1 class="mt-4">Google 日曆 URL 生成器</h1>
    <h2 class="mt-3">生成一個網址，點擊後自動生成 Google 日曆活動資訊</h2>
  </div>
  <div class="col"></div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col-md-6 pb-5">
    <form (ngSubmit)="onSubmit()" #activityForm="ngForm">
      <h3 class="mt-5 mb-3">活動資訊</h3>
      <div class="form-group">
        <label for="eventTitle">活動名稱:</label>
        <input type="text" id="eventTitle" class="form-control" [(ngModel)]="model.title" name="title" required>
      </div>
      <div class="form-group">
        <label for="eventDesc">活動描述（活動資訊中的「說明」欄位）:</label>
        <textarea id="eventDesc" class="form-control" [(ngModel)]="model.details" name="desc" required></textarea>
      </div>
      <div class="form-group">
        <label for="eventLocat">地點:</label>
        <textarea id="eventLocat" class="form-control" [(ngModel)]="model.location" name="locat" required></textarea>
      </div>

      <h3 class="mt-5 mb-3">日期與時間</h3>
      <div class="form-group">
        <label for="eventDateStart">開始時間:</label>
        <div class="input-group">
          <input type="text" id="eventDateStart" class="form-control" value="{{start_human}}" name="start" readonly required>
        </div>
        <div class="mt-3 mh-270">
          <dl-date-time-picker (change)="onStartChange($event)"></dl-date-time-picker>
        </div>
      </div>
      <div class="form-group">
        <label for="eventDateEnd">結束時間:</label>
        <div class="input-group">
          <input type="text" id="eventDateEnd" class="form-control" value="{{end_human}}" name="end" readonly required>
        </div>
        <div class="mt-3 mh-270">
          <dl-date-time-picker (change)="onEndChange($event)"></dl-date-time-picker>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">產生網址！</button>

    </form>
    <div class="mt-5" *ngIf="model.resultUrl">
      <h3>生成的活動 URL</h3>
      <div class="form-group">
        <textarea class="form-control" [(ngModel)]="model.resultUrl" readonly>{{resultUrl}}</textarea>
      </div>
      <button class="btn btn-primary" ngxClipboard [cbContent]="model.resultUrl" (cbOnSuccess)="onCopied()" (cbOnError)="onCopiedError()">一鍵複製</button>
      <span *ngIf="resultCopiedMessage" class="alert alert-success p-6" role="alert" [class.alert-warning]="resultCopied === false">{{resultCopiedMessage}}</span>
    </div>
  </div>
  <div class="col"></div>
</div>

